.Card{
    transition: 0.4s;
    margin: 8px 0;
    background-color: $card-bg-color;
    border: solid 1px $card-border-color;
    @include border-radius($card-border-radius);

    .cardTop{
        display: grid;
        grid-template-columns: 30px 2fr 2fr 80px;
        grid-gap: 18px;
        align-items: center;
        min-height: 130px;
        padding:12px;
        transition: 0.4s;
        @include border-radius($card-border-radius);

        h3{font-size: $card-title-text-size; color: $card-title-text-color; padding-right:52px}
        .alert{width:20px; height:40px; background: transparent url('../img/icon_art.svg') -19px -278px no-repeat; background-size:900px}
        .arrow{
            justify-self: center;
            :first-child{width: 24px; height: 24px; color: $card-arrow-color}
            :before{ content: 'More '}
        }
        
        &:hover{background-color: $card-bg-hover-color; @include boxshadow(0, -1px, 8px, -4px, #000)}
        
        &.nonexpand{
            .arrow{
                span:before{font-size:.9em}
                :first-child{color: $nonexpand-card-link-color}
            }   
        }
    }

    &.active{
        .cardTop{
            &:hover{@include border-radius-custom( $card-border-radius, $card-border-radius, 0, 0);}
        }
    }

    .panel {        
        display:none; overflow: hidden; padding:18px;
        p{font-size: 2em}
        h5{
            @include font(.8, 'Bold'); color: $card-panel-text-color;
            padding:12px 0 6px 0; text-transform: uppercase;
            border-bottom:solid 1px $card-panel-divider-color;
        }
    }

    @media only screen and (max-width: $medium) {
        .cardTop{padding:18px 8px;
            h3{font-size:1.1em; padding-right:46px}
            .arrow{
                a span{display:none}
                :before{content: ''}
            }
        }
    }
    @media only screen and (max-width: $small) {
        border-top:0; border-right:0; border-left:0;
        border-color: $card-border-color-mobile;
        &.active{.cardTop{&:hover{@include border-radius(0);}}}

        .cardTop{
            .alert{width:14px; height:28px; background: transparent url('../img/icon_art.svg') -14px -202px no-repeat; background-size:640px}
            min-height: 90px;
            grid-template-columns: 20px auto 100px 40px;
            grid-gap: 8px;
            h3{font-size:1em; padding-right:12px}
            @include border-radius(0);
            .arrow{
                :first-child{width: 21px; height: 21px}
            }
        }
        margin: 0;
        @include border-radius(0);
    }
    @media only screen and (max-width: $xsmall) {
        .cardTop{
            h3{font-size:.9em}
        }
    }
}


